<!DOCTYPE html>
<html lang="fa" class="js">
    <head>
        <base href="../../" />
        <meta charset="utf-8" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <!-- Fav Icon  -->
        <link rel="shortcut icon" href="./images/favicon.png" />
        <!-- Page Title  -->
        <title>تاریخچه - کپی رایتر هوش مصنوعی | قالب مدیریتی دش‌لایت</title>
        <!-- StyleSheets  -->
        <link rel="stylesheet" href="./assets/css/dashlite.rtl.css" />
        <link id="skin-default" rel="stylesheet" href="./assets/css/theme.css" />
    </head>

    <body class="has-rtl nk-body ui-rounder has-sidebar" dir="rtl">
        <div class="nk-app-root">
            <!-- main @s -->
            <div class="nk-main">
                <!-- sidebar @s -->
                <div class="nk-sidebar nk-sidebar-fixed is-light" data-content="sidebarMenu">
                    <div class="nk-sidebar-element nk-sidebar-head">
                        <div class="nk-sidebar-brand">
                            <a href="html/copywriter/index.html" class="logo-link nk-sidebar-logo">
                                <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="لوگو" />
                                <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="لوگوی تاریک" />
                                <img class="logo-small logo-img logo-img-small" src="./images/logo-small.png" srcset="./images/logo-small2x.png 2x" alt="لوگوی کوچک" />
                            </a>
                        </div>
                        <div class="nk-menu-trigger me-n2">
                            <a href="#" class="nk-nav-toggle nk-quick-nav-icon d-xl-none" data-target="sidebarMenu"><em class="icon ni ni-arrow-left"></em></a>
                        </div>
                    </div>
                    <!-- .nk-sidebar-element -->
                    <div class="nk-sidebar-element">
                        <div class="nk-sidebar-content">
                            <div class="nk-sidebar-menu" data-simplebar>
                                <ul class="nk-menu">
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">داشبوردها</h6>
                                    </li>
                                    <!-- .nk-menu-item -->
                                    <li class="nk-menu-item">
                                        <a href="html/copywriter/index.html" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-presentation"></em></span>
                                            <span class="nk-menu-text">داشبورد</span>
                                        </a>
                                    </li>
                                    <!-- .nk-menu-item -->
                                    <li class="nk-menu-item has-sub">
                                        <a href="#" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon">
                                                <em class="icon ni ni-folder-list"></em>
                                            </span>
                                            <span class="nk-menu-text">اسناد</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="html/copywriter/document-saved.html" class="nk-menu-link">
                                                    <span class="nk-menu-text">ذخیره شده ها</span>
                                                </a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="html/copywriter/document-drafts.html" class="nk-menu-link">
                                                    <span class="nk-menu-text">پیش نویس ها</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nk-menu-item has-sub">
                                        <a href="#" class="nk-menu-link nk-menu-toggle">
                                            <span class="nk-menu-icon">
                                                <em class="icon ni ni-edit"></em>
                                            </span>
                                            <span class="nk-menu-text">ویرایشگر</span>
                                        </a>
                                        <ul class="nk-menu-sub">
                                            <li class="nk-menu-item">
                                                <a href="html/copywriter/document-editor.html" class="nk-menu-link">
                                                    <span class="nk-menu-text">جدید</span>
                                                </a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="html/copywriter/document-editor-generate.html" class="nk-menu-link">
                                                    <span class="nk-menu-text">تولید</span>
                                                </a>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="html/copywriter/document-editor-edit.html" class="nk-menu-link">
                                                    <span class="nk-menu-text">ویرایش</span>
                                                </a>
                                            </li>
                                        </ul>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a href="html/copywriter/templates.html" class="nk-menu-link">
                                            <span class="nk-menu-icon">
                                                <em class="icon ni ni-layers"></em>
                                            </span>
                                            <span class="nk-menu-text">الگوها</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a href="html/copywriter/history.html" class="nk-menu-link">
                                            <span class="nk-menu-icon">
                                                <em class="icon ni ni-clock"></em>
                                            </span>
                                            <span class="nk-menu-text">تاریخچه</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a href="html/copywriter/pricing-plans.html" class="nk-menu-link">
                                            <span class="nk-menu-icon">
                                                <em class="icon ni ni-sign-usdc"></em>
                                            </span>
                                            <span class="nk-menu-text">طرح های قیمت گذاری</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a href="html/copywriter/profile.html" class="nk-menu-link">
                                            <span class="nk-menu-icon">
                                                <em class="icon ni ni-user"></em>
                                            </span>
                                            <span class="nk-menu-text">پروفایل</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-item">
                                        <a href="html/copywriter/payment.html" target="_blank" class="nk-menu-link">
                                            <span class="nk-menu-icon">
                                                <em class="icon ni ni-wallet"></em>
                                            </span>
                                            <span class="nk-menu-text">پرداخت ها</span>
                                        </a>
                                    </li>
                                    <li class="nk-menu-heading">
                                        <h6 class="overline-title text-primary-alt">بازگشت به</h6>
                                    </li>
                                    <!-- .nk-menu-item -->
                                    <li class="nk-menu-item">
                                        <a href="html/index.html" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-dashlite-alt"></em></span>
                                            <span class="nk-menu-text">داشبورد اصلی</span>
                                        </a>
                                    </li>
                                    <!-- .nk-menu-item -->
                                    <li class="nk-menu-item">
                                        <a href="html/components.html" class="nk-menu-link">
                                            <span class="nk-menu-icon"><em class="icon ni ni-layers-fill"></em></span>
                                            <span class="nk-menu-text">همه کامپوننت ها</span>
                                        </a>
                                    </li>
                                    <!-- .nk-menu-item -->
                                </ul>
                                <!-- .nk-menu -->
                            </div>
                            <!-- .nk-sidebar-menu -->
                        </div>
                        <!-- .nk-sidebar-content -->
                    </div>
                    <!-- .nk-sidebar-element -->
                </div>
                <!-- sidebar @e -->
                <!-- wrap @s -->
                <div class="nk-wrap">
                    <!-- main header @s -->
                    <div class="nk-header is-light nk-header-fixed is-light">
                        <div class="container-xl wide-xl">
                            <div class="nk-header-wrap">
                                <div class="nk-menu-trigger d-xl-none ms-n1 me-3">
                                    <a href="#" class="nk-nav-toggle nk-quick-nav-icon" data-target="sidebarMenu"><em class="icon ni ni-menu"></em></a>
                                </div>
                                <div class="nk-header-brand d-xl-none">
                                    <a href="html/copywriter/index.html" class="logo-link">
                                        <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="لوگو" />
                                        <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="لوگوی تاریک" />
                                    </a>
                                </div>
                                <!-- .nk-header-brand -->
                                <div class="nk-header-menu is-light">
                                    <div class="nk-header-menu-inner">
                                        <!-- Menu -->
                                        <ul class="nk-menu nk-menu-main">
                                            <li class="nk-menu-item has-sub">
                                                <a href="#" class="nk-menu-link nk-menu-toggle">
                                                    <span class="nk-menu-text">ویرایشگر</span>
                                                </a>
                                                <ul class="nk-menu-sub">
                                                    <li class="nk-menu-item">
                                                        <a href="html/copywriter/document-editor.html" class="nk-menu-link">
                                                            <span class="nk-menu-text">جدید</span>
                                                        </a>
                                                    </li>
                                                    <li class="nk-menu-item">
                                                        <a href="html/copywriter/document-editor-generate.html" class="nk-menu-link">
                                                            <span class="nk-menu-text">تولید</span>
                                                        </a>
                                                    </li>
                                                    <li class="nk-menu-item">
                                                        <a href="html/copywriter/document-editor-edit.html" class="nk-menu-link">
                                                            <span class="nk-menu-text">ویرایش</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nk-menu-item has-sub">
                                                <a href="#" class="nk-menu-link nk-menu-toggle">
                                                    <span class="nk-menu-text">اسناد</span>
                                                </a>
                                                <ul class="nk-menu-sub">
                                                    <li class="nk-menu-item">
                                                        <a href="html/copywriter/document-saved.html" class="nk-menu-link">
                                                            <span class="nk-menu-text">ذخیره شده ها</span>
                                                        </a>
                                                    </li>
                                                    <li class="nk-menu-item">
                                                        <a href="html/copywriter/document-drafts.html" class="nk-menu-link">
                                                            <span class="nk-menu-text">پیش نویس ها</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </li>
                                            <li class="nk-menu-item">
                                                <a href="html/copywriter/templates.html" class="nk-menu-link">
                                                    <span class="nk-menu-text">الگوها</span>
                                                </a>
                                            </li>
                                        </ul>
                                        <!-- Menu -->
                                    </div>
                                </div>
                                <!-- .nk-header-menu -->
                                <div class="nk-header-tools">
                                    <ul class="nk-quick-nav">
                                        <li class="dropdown notification-dropdown">
                                            <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
                                                <div class="icon-status icon-status-info"><em class="icon ni ni-bell"></em></div>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-xl dropdown-menu-end">
                                                <div class="dropdown-head">
                                                    <span class="sub-title nk-dropdown-title">اطلاع رسانی ها</span>
                                                    <a href="#">علامت گذاری همه به عنوان خوانده شده</a>
                                                </div>
                                                <div class="dropdown-body">
                                                    <div class="nk-notification">
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-primary-dim ni ni-share"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text">مهرداد <span>Dashlite-v2</span> را با شما به اشتراک گذاشت.</div>
                                                                <div class="nk-notification-time">هم اکنون</div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-info-dim ni ni-edit"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text">مهرداد شما را به ویرایش پوشه <span>DashLite</span> <span>دعوت</span> کرد</div>
                                                                <div class="nk-notification-time">2 ساعت پیش</div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-primary-dim ni ni-share"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text">شما <span>پروژه نسخه 2</span> را با مجید به اشتراک گذاشتید.</div>
                                                                <div class="nk-notification-time">7 روز پیش</div>
                                                            </div>
                                                        </div>
                                                        <div class="nk-notification-item dropdown-inner">
                                                            <div class="nk-notification-icon">
                                                                <em class="icon icon-circle bg-success-dim ni ni-spark"></em>
                                                            </div>
                                                            <div class="nk-notification-content">
                                                                <div class="nk-notification-text"><span>اشتراک</span> شما با موفقیت تمدید شد.</div>
                                                                <div class="nk-notification-time">2 ماه پیش</div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!-- .nk-notification -->
                                                </div>
                                                <!-- .nk-dropdown-body -->
                                                <div class="dropdown-foot center">
                                                    <a href="#">مشاهده همه</a>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="dropdown language-dropdown d-none d-sm-block me-n1">
                                            <a href="#" class="dropdown-toggle nk-quick-nav-icon" data-bs-toggle="dropdown">
                                                <div class="quick-icon border border-light">
                                                    <img class="icon" src="./images/flags/iran-sq.png" alt="" />
                                                </div>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-end">
                                                <ul class="language-list">
                                                    <li>
                                                        <a href="#" class="language-item">
                                                            <img src="./images/flags/iran.png" alt="" class="language-flag" />
                                                            <span class="language-name">فارسی</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="language-item">
                                                            <img src="./images/flags/english.png" alt="" class="language-flag" />
                                                            <span class="language-name">انگلیسی</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="language-item">
                                                            <img src="./images/flags/germany.png" alt="" class="language-flag" />
                                                            <span class="language-name">آلمانی</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="language-item">
                                                            <img src="./images/flags/french.png" alt="" class="language-flag" />
                                                            <span class="language-name">فرانسوی</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <!-- .dropdown -->
                                        <li class="dropdown user-dropdown">
                                            <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown">
                                                <div class="user-toggle">
                                                    <div class="user-avatar sm">
                                                        <em class="icon ni ni-user-alt"></em>
                                                    </div>
                                                </div>
                                            </a>
                                            <div class="dropdown-menu dropdown-menu-md dropdown-menu-end">
                                                <div class="dropdown-inner user-card-wrap bg-lighter d-none d-md-block">
                                                    <div class="user-card">
                                                        <div class="user-avatar">
                                                            <span>ف‌ت</span>
                                                        </div>
                                                        <div class="user-info">
                                                            <span class="lead-text">فرشید ترنیان</span>
                                                            <span class="sub-text">your@email.com</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="dropdown-inner">
                                                    <ul class="link-list">
                                                        <li>
                                                            <a href="html/copywriter/profile.html"><em class="icon ni ni-user-alt"></em><span>مشاهده پروفایل</span></a>
                                                        </li>
                                                        <li>
                                                            <a href="html/copywriter/history.html"><em class="icon ni ni-clock"></em><span>مشاهده تاریخچه</span></a>
                                                        </li>
                                                        <li>
                                                            <a class="dark-switch" href="#"><em class="icon ni ni-moon"></em><span>حالت تاریک</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="dropdown-inner">
                                                    <ul class="link-list">
                                                        <li>
                                                            <a href="#"><em class="icon ni ni-signout"></em><span>خروج</span></a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <!-- .nk-header-tools -->
                            </div>
                            <!-- .nk-header-wrap -->
                        </div>
                        <!-- .container-fliud -->
                    </div>
                    <!-- main header @e -->
                    <!-- content @s -->
                    <div class="nk-content nk-content-fluid">
                        <div class="container-xl wide-xl">
                            <div class="nk-content-body">
                                <div class="nk-block">
                                    <div class="d-flex flex-wrap align-items-center justify-content-between">
                                        <h4 class="mb-0">کلمات تولید شده</h4>
                                        <div class="caption-text text-dark">940 <span class="text-base">از 5000 کلمه استفاده شده است.</span></div>
                                    </div>
                                    <div class="progress progress-md bg-primary bg-opacity-10 mt-3">
                                        <div class="progress-bar bg-primary" data-progress="55"></div>
                                    </div>
                                    <div class="fs-14px text-dark mt-2">برای افزایش محدودیت، <a href="#">قیمت گذاری و طرح های</a> ما را بررسی کنید.</div>
                                </div>
                                <!-- .nk-block -->
                                <div class="nk-block">
                                    <div class="nk-history">
                                        <div class="nk-history-item">
                                            <div class="nk-history-symbol">
                                                <div class="nk-history-symbol-dot"></div>
                                            </div>
                                            <div class="nk-history-content">
                                                <h5>21 آبان 1402</h5>
                                            </div>
                                        </div>
                                        <div class="nk-history-item">
                                            <div class="nk-history-symbol">
                                                <div class="nk-history-symbol-dot"></div>
                                            </div>
                                            <div class="nk-history-content">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                                            <div class="d-flex align-items-center">
                                                                <div class="user-avatar xs text-primary bg-primary-dim">
                                                                    <em class="icon ni ni-pen-fill"></em>
                                                                </div>
                                                                <h5 class="fs-14px fw-normal ms-2">پست شبکه های اجتماعی</h5>
                                                            </div>
                                                            <button
                                                                class="btn btn-sm clipboard-init mx-n2"
                                                                title="کپی در کلیپ بورد"
                                                                data-clipboard-target="#SocialMediaPost04"
                                                                data-clip-success="<em class='icon ni ni-copy-fill'></em><span>کپی شد</span>"
                                                                data-clip-text="<em class='icon ni ni-copy'></em><span>کپی</span>"
                                                            >
                                                                <span class="clipboard-text align-center"><em class="icon ni ni-copy"></em><span>کپی</span></span>
                                                            </button>
                                                        </div>
                                                        <p class="lead text-base" id="SocialMediaPost04">
                                                            سلام به همه! آیا با ChatGPT ملاقات کردید؟ به عنوان یک مدل زبان هوش مصنوعی، من آموزش دیدم تا به سوالات شما پاسخ دهم و با شما گفتگو کنم! هر چیزی که می خواهید از من بپرسید، بیایید با هم گفتگو کنیم! 😊
                                                        </p>
                                                        <ul class="nk-history-meta">
                                                            <li>5:22 بعد از ظهر</li>
                                                            <li>29 کلمه / 129 کاراکتر</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .nk-history-item -->
                                        <div class="nk-history-item">
                                            <div class="nk-history-symbol">
                                                <div class="nk-history-symbol-dot"></div>
                                            </div>
                                            <div class="nk-history-content">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                                            <div class="d-flex align-items-center">
                                                                <div class="user-avatar xs text-primary bg-primary-dim">
                                                                    <em class="icon ni ni-pen-fill"></em>
                                                                </div>
                                                                <h5 class="fs-14px fw-normal ms-2">پست شبکه های اجتماعی</h5>
                                                            </div>
                                                            <button
                                                                class="btn btn-sm clipboard-init mx-n2"
                                                                title="کپی در کلیپ بورد"
                                                                data-clipboard-target="#SocialMediaPost03"
                                                                data-clip-success="<em class='icon ni ni-copy-fill'></em><span>کپی شد</span>"
                                                                data-clip-text="<em class='icon ni ni-copy'></em><span>کپی</span>"
                                                            >
                                                                <span class="clipboard-text align-center"><em class="icon ni ni-copy"></em><span>کپی</span></span>
                                                            </button>
                                                        </div>
                                                        <p class="lead text-base" id="SocialMediaPost03">
                                                            قدرت داده ها جهان را متحول می کند و OpenAI پیشرو است. OpenAI با بهره گیری از جدیدترین فناوری های یادگیری ماشینی و هوش مصنوعی، به کسب و کارها و سازمان ها کمک می کند تا پتانسیل کامل داده های خود را باز کنند و نوآوری و رشد را پیش ببرند.
                                                        </p>
                                                        <ul class="nk-history-meta">
                                                            <li>5:22 بعد از ظهر</li>
                                                            <li>43 کلمه / 224 کاراکتر</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .nk-history-item -->
                                        <a href="#" class="nk-history-item nk-history-expand">
                                            <div class="nk-history-symbol">
                                                <div class="nk-history-symbol-button">
                                                    <em class="icon rotate-90 ni ni-code"></em>
                                                </div>
                                            </div>
                                            <div class="nk-history-content">
                                                <h6 class="nk-history-symbol-text">نمایش 3 تاریخچه دیگر</h6>
                                            </div>
                                        </a>
                                        <!-- .nk-history-item -->
                                        <div class="nk-history-item">
                                            <div class="nk-history-symbol">
                                                <div class="nk-history-symbol-dot border-success"></div>
                                            </div>
                                            <div class="nk-history-content">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                                            <div class="d-flex align-items-center">
                                                                <div class="user-avatar xs text-success bg-success-dim">
                                                                    <em class="icon ni ni-text2"></em>
                                                                </div>
                                                                <h5 class="fs-14px fw-normal ms-2">کپی وب سایت</h5>
                                                            </div>
                                                            <button
                                                                class="btn btn-sm clipboard-init mx-n2"
                                                                title="کپی در کلیپ بورد"
                                                                data-clipboard-target="#SocialMediaPost002"
                                                                data-clip-success="<em class='icon ni ni-copy-fill'></em><span>کپی شد</span>"
                                                                data-clip-text="<em class='icon ni ni-copy'></em><span>کپی</span>"
                                                            >
                                                                <span class="clipboard-text align-center"><em class="icon ni ni-copy"></em><span>کپی</span></span>
                                                            </button>
                                                        </div>
                                                        <p class="lead text-base" id="SocialMediaPost002">
                                                            چالش های محتوایی خود را حل کنید و کمپین های فروش، بازاریابی و رسانه های اجتماعی خود را با فناوری پیشرفته ما شروعی بی عیب و نقص کنید. ما از هوش مصنوعی برای ایجاد و ویرایش محتوای نوشتاری با کیفیت برای شما استفاده می کنیم.
                                                        </p>
                                                        <ul class="nk-history-meta">
                                                            <li>5:22 بعد از ظهر</li>
                                                            <li>27 کلمه / 154 کاراکتر</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .nk-history-item -->
                                        <div class="nk-history-item">
                                            <div class="nk-history-symbol">
                                                <div class="nk-history-symbol-dot border-success"></div>
                                            </div>
                                            <div class="nk-history-content">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <div class="d-flex align-items-center justify-content-between mb-2">
                                                            <div class="d-flex align-items-center">
                                                                <div class="user-avatar xs text-success bg-success-dim">
                                                                    <em class="icon ni ni-text2"></em>
                                                                </div>
                                                                <h5 class="fs-14px fw-normal ms-2">کپی وب سایت</h5>
                                                            </div>
                                                            <button
                                                                class="btn btn-sm clipboard-init mx-n2"
                                                                title="کپی در کلیپ بورد"
                                                                data-clipboard-target="#SocialMediaPost01"
                                                                data-clip-success="<em class='icon ni ni-copy-fill'></em><span>کپی شد</span>"
                                                                data-clip-text="<em class='icon ni ni-copy'></em><span>کپی</span>"
                                                            >
                                                                <span class="clipboard-text align-center"><em class="icon ni ni-copy"></em><span>کپی</span></span>
                                                            </button>
                                                        </div>
                                                        <p class="lead text-base" id="SocialMediaPost01">
                                                            با قدرت هوش مصنوعی در چند ثانیه کپی محتوای بهتری تولید کنید. به طور خودکار محتوای هوشمند و جذاب را در مقیاس تولید کنید، بدون نیاز به بلند کردن انگشت. با کپیژن با بازاریابی محتوا و سئو خداحافظی کنید.
                                                        </p>
                                                        <ul class="nk-history-meta">
                                                            <li>5:22 بعد از ظهر</li>
                                                            <li>24 کلمه / 142 کاراکتر</li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .nk-history-item -->
                                        <a href="#" class="nk-history-item nk-history-expand">
                                            <div class="nk-history-symbol">
                                                <div class="nk-history-symbol-button">
                                                    <em class="icon rotate-90 ni ni-code"></em>
                                                </div>
                                            </div>
                                            <div class="nk-history-content">
                                                <h6 class="nk-history-symbol-text">نمایش 3 تاریخچه دیگر</h6>
                                            </div>
                                        </a>
                                        <!-- .nk-history-item -->
                                    </div>
                                    <!-- .nk-history -->
                                </div>
                                <!-- .nk-block -->
                            </div>
                        </div>
                    </div>
                    <!-- content @e -->
                    <!-- footer @s -->
                    <div class="nk-footer">
                        <div class="container-xl wide-xl">
                            <div class="nk-footer-wrap">
                                <div class="nk-footer-copyright">© تمام حقوق محفوظ است. فارسی و راستچین سازی شده توسط فرشید ترنیان</div>
                                <div class="nk-footer-links">
                                    <ul class="nav nav-sm">
                                        <li class="nav-item dropup">
                                            <a herf="" class="dropdown-toggle dropdown-indicator has-indicator nav-link text-base" data-bs-toggle="dropdown" data-offset="0,10"><span>فارسی</span></a>
                                            <div class="dropdown-menu dropdown-menu-sm dropdown-menu-end">
                                                <ul class="language-list">
                                                    <li>
                                                        <a href="#" class="language-item">
                                                            <span class="language-name">فارسی</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="language-item">
                                                            <span class="language-name">انگلیسی</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="language-item">
                                                            <span class="language-name">آلمانی</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#" class="language-item">
                                                            <span class="language-name">فرانسوی</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </li>
                                        <li class="nav-item">
                                            <a data-bs-toggle="modal" href="#region" class="nav-link"><em class="icon ni ni-globe"></em><span class="ms-1">کشور را انتخاب کنید</span></a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- footer @e -->
                </div>
                <!-- wrap @e -->
            </div>
            <!-- main @e -->
        </div>
        <!-- app-root @e -->
        <!-- select region modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="region">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                    <div class="modal-body modal-body-md">
                        <h5 class="title mb-4">کشور خود را انتخاب کنید</h5>
                        <div class="nk-country-region">
                            <ul class="country-list text-center gy-2">
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/arg.png" alt="" class="country-flag" />
                                        <span class="country-name">آرژانتین</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/aus.png" alt="" class="country-flag" />
                                        <span class="country-name">استرالیا</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/bangladesh.png" alt="" class="country-flag" />
                                        <span class="country-name">بنگلادش</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/canada.png" alt="" class="country-flag" />
                                        <span class="country-name">کانادا <small>(انگلیسی)</small></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/s-africa.png" alt="" class="country-flag" />
                                        <span class="country-name">سانترافریکائین</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/china.png" alt="" class="country-flag" />
                                        <span class="country-name">چین</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/french.png" alt="" class="country-flag" />
                                        <span class="country-name">فرانسه</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/germany.png" alt="" class="country-flag" />
                                        <span class="country-name">آلمان</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/iran.png" alt="" class="country-flag" />
                                        <span class="country-name">ایران</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/italy.png" alt="" class="country-flag" />
                                        <span class="country-name">ایتالیا</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/mexico.png" alt="" class="country-flag" />
                                        <span class="country-name">مکزیک</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/philipine.png" alt="" class="country-flag" />
                                        <span class="country-name">فیلیپین</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/portugal.png" alt="" class="country-flag" />
                                        <span class="country-name">پرتقال</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/s-africa.png" alt="" class="country-flag" />
                                        <span class="country-name">آفریقای جنوبی</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/spanish.png" alt="" class="country-flag" />
                                        <span class="country-name">اسپانیا</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/switzerland.png" alt="" class="country-flag" />
                                        <span class="country-name">سوئیس</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/uk.png" alt="" class="country-flag" />
                                        <span class="country-name">انگلستان</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/english.png" alt="" class="country-flag" />
                                        <span class="country-name">ایالات متحده آمریکا</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .modal-content -->
            </div>
            <!-- .modla-dialog -->
        </div>
        <!-- .modal -->
        <!-- JavaScript -->
        <script src="./assets/js/bundle.js"></script>
        <script src="./assets/js/scripts.js"></script>
    </body>
</html>