<!DOCTYPE html>
<html lang="fa" class="js">
    <head>
        <base href="../../" />
        <meta charset="utf-8" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <!-- Fav Icon  -->
        <link rel="shortcut icon" href="./images/favicon.png" />
        <!-- Page Title  -->
        <title>پرداخت ها - کپی رایتر هوش مصنوعی | قالب مدیریتی دش‌لایت</title>
        <!-- StyleSheets  -->
        <link rel="stylesheet" href="./assets/css/dashlite.rtl.css" />
        <link id="skin-default" rel="stylesheet" href="./assets/css/theme.css" />
    </head>

    <body class="has-rtl nk-body ui-rounder npc-general" dir="rtl">
        <div class="nk-app-root">
            <!-- main @s -->
            <div class="nk-main">
                <!-- wrap @s -->
                <div class="nk-wrap nk-wrap-nosidebar">
                    <!-- content @s -->
                    <div class="nk-content">
                        <div class="nk-split nk-split-page nk-split-lg">
                            <div class="nk-split-content bg-lighter w-50 d-flex align-items-center justify-content-center justify-content-lg-end p-4 p-sm-5">
                                <div class="wide-xs w-100">
                                    <div class="d-flex">
                                        <a class="pe-2 d-flex align-items-center" href="html/copywriter/index.html">
                                            <em class="icon ni ni-arrow-left text-base"></em>
                                            <div class="logo-link ms-3">
                                                <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="لوگو" />
                                                <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="لوگوی تاریک" />
                                            </div>
                                        </a>
                                    </div>
                                    <div class="pt-4">
                                        <div class="fs-4 fw-normal mb-1">اشتراک نامحدود (سالانه)</div>
                                        <h3 class="display-4 fw-semibold">225,000 تومان <span class="caption-text text-base fw-normal"> در سال</span></h3>
                                        <div class="fs-5 fw-normal mt-2">یک طرح سالانه حرفه ای برای دش‌لایت</div>
                                    </div>
                                    <ul class="mt-4 gy-4 pb-2">
                                        <li class="d-flex justify-content-between">
                                            <div class="">
                                                <div class="caption-text">نامحدود (سالانه)</div>
                                                <span class="sub-text">تعداد 1 صورتحساب سالانه</span>
                                            </div>
                                            <div class="caption-text">225,000 تومان</div>
                                        </li>
                                        <li class="d-flex justify-content-between">
                                            <div class="">
                                                <div class="caption-text">جمع جزء</div>
                                            </div>
                                            <div class="caption-text">225,000 تومان</div>
                                        </li>
                                    </ul>
                                    <div class="border-top border-bottom py-3">
                                        <button class="btn btn-white btn-outline-light btn-md">افزودن کد تخفیف</button>
                                    </div>
                                    <div class="d-flex justify-content-between pt-2 pb-lg-5 mb-lg-5">
                                        <div class="caption-text">مجموع</div>
                                        <div class="caption-text">225,000 تومان</div>
                                    </div>
                                    <div class="d-flex flex-wrap align-items-center justify-content-between mt-5 pt-lg-5">
                                        <div class="text-base fs-14px">پشتیبانی شده توسط بانک ملت</div>
                                        <ul class="nav nav-sm mx-n1">
                                            <li class="nav-item"><a class="nav-link px-1" href="#">شرایط و ضوابط</a></li>
                                            <li class="nav-item"><a class="nav-link px-1" href="#">سیاست حفظ حریم خصوصی</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="nk-split-content bg-white w-50 d-flex align-items-center justify-content-center justify-content-lg-start p-4 p-sm-5">
                                <div class="wide-xs w-100">
                                    <h3 class="mb-3">پرداخت با کارت</h3>
                                    <div class="row g-3">
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="form-label" for="email">ایمیل</label>
                                                <div class="form-control-wrap">
                                                    <input class="form-control" type="email" id="email" placeholder="نشانی ایمیل را وارد کنید" />
                                                </div>
                                            </div>
                                            <!-- .form-group -->
                                        </div>
                                        <!-- .col -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="form-label" for="card-number">اطلاعات کارت</label>
                                                <div class="form-control-wrap">
                                                    <div class="d-flex flex-wrap border border-light rounded">
                                                        <div class="w-100 border-bottom border-light d-flex align-items-center">
                                                            <input class="form-control-plaintext px-3" type="text" id="card-number" placeholder="1234 1234 1234 1234" />
                                                            <ul class="d-flex pe-3 gx-1 flex-shrink-0">
                                                                <li class="h-1rem d-inline-flex">
                                                                    <img src="./images/copywriter/icons/card/visa.png" alt="" class="h-100" />
                                                                </li>
                                                                <li class="h-1rem d-inline-flex">
                                                                    <img src="./images/copywriter/icons/card/mastercard.png" alt="" class="h-100" />
                                                                </li>
                                                                <li class="h-1rem d-inline-flex">
                                                                    <img src="./images/copywriter/icons/card/amex.png" alt="" class="h-100" />
                                                                </li>
                                                                <li class="h-1rem d-inline-flex">
                                                                    <img src="./images/copywriter/icons/card/diners.png" alt="" class="h-100" />
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="w-50 border-end border-light">
                                                            <input class="form-control-plaintext px-3 date-picker-short" type="text" id="card-exp-date" placeholder="ماه/سال" />
                                                        </div>
                                                        <div class="w-50">
                                                            <input class="form-control-plaintext px-3" type="text" id="card-ccv" placeholder="123" />
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- .form-group -->
                                        </div>
                                        <!-- .col -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="form-label" for="name">نام روی کارت</label>
                                                <div class="form-control-wrap">
                                                    <input class="form-control" type="text" id="name" placeholder="نام کامل" />
                                                </div>
                                            </div>
                                            <!-- .form-group -->
                                        </div>
                                        <!-- .col -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <label class="form-label">استان</label>
                                                <div class="form-control-wrap">
                                                    <select class="js-select2 form-select" data-search="true" data-sort="false">
                                                        <option value="tehran">تهران</option>
                                                        <option value="alborz">البرز</option>
                                                        <option value="isfahan">اصفهان</option>
                                                        <option value="fars">فارس</option>
                                                        <option value="a-sharghi">آذربایجان شرقی</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <!-- .form-group -->
                                        </div>
                                        <!-- .col -->
                                        <div class="col-12">
                                            <div class="p-2 border border-light rounded-2 my-1">
                                                <div class="form-check flex-nowrap">
                                                    <input class="form-check-input mt-0 flex-shrink-0" type="checkbox" value="" id="savecard" />
                                                    <label class="form-check-label" for="savecard">
                                                        <h6 class="mb-1">برای تسویه حساب 1 کلیکه، اطلاعات من ایمن ذخیره شود</h6>
                                                        <p class="fs-12px lh-sm">در Genious.AI و هر جایی که لینک پذیرفته می شود، سریع تر پرداخت کنید.</p>
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <!-- .col -->
                                        <div class="col-12">
                                            <div class="form-group">
                                                <button class="btn btn-primary btn-block">اشتراک</button>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-note">
                                                با تایید اشتراک خود، به Genious.AI این امکان را می دهید که کارت شما را برای این پرداخت و پرداخت های آینده مطابق با شرایط خود شارژ کند. هر زمان بخواهید می توانید اشتراک خود را لغو کنید.
                                            </div>
                                        </div>
                                    </div>
                                    <!-- .row -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- wrap @e -->
                </div>
                <!-- content @e -->
            </div>
            <!-- main @e -->
        </div>
        <!-- app-root @e -->
        <!-- JavaScript -->
        <script src="./assets/js/bundle.js"></script>
        <script src="./assets/js/scripts.js"></script>
        <script src="./assets/js/jdate.js"></script>
        <!-- select region modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="region">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                    <div class="modal-body modal-body-md">
                        <h5 class="title mb-4">کشور خود را انتخاب کنید</h5>
                        <div class="nk-country-region">
                            <ul class="country-list text-center gy-2">
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/arg.png" alt="" class="country-flag" />
                                        <span class="country-name">آرژانتین</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/aus.png" alt="" class="country-flag" />
                                        <span class="country-name">استرالیا</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/bangladesh.png" alt="" class="country-flag" />
                                        <span class="country-name">بنگلادش</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/canada.png" alt="" class="country-flag" />
                                        <span class="country-name">کانادا <small>(انگلیسی)</small></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/s-africa.png" alt="" class="country-flag" />
                                        <span class="country-name">سانترافریکائین</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/china.png" alt="" class="country-flag" />
                                        <span class="country-name">چین</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/french.png" alt="" class="country-flag" />
                                        <span class="country-name">فرانسه</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/germany.png" alt="" class="country-flag" />
                                        <span class="country-name">آلمان</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/iran.png" alt="" class="country-flag" />
                                        <span class="country-name">ایران</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/italy.png" alt="" class="country-flag" />
                                        <span class="country-name">ایتالیا</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/mexico.png" alt="" class="country-flag" />
                                        <span class="country-name">مکزیک</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/philipine.png" alt="" class="country-flag" />
                                        <span class="country-name">فیلیپین</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/portugal.png" alt="" class="country-flag" />
                                        <span class="country-name">پرتقال</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/s-africa.png" alt="" class="country-flag" />
                                        <span class="country-name">آفریقای جنوبی</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/spanish.png" alt="" class="country-flag" />
                                        <span class="country-name">اسپانیا</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/switzerland.png" alt="" class="country-flag" />
                                        <span class="country-name">سوئیس</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/uk.png" alt="" class="country-flag" />
                                        <span class="country-name">انگلستان</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/english.png" alt="" class="country-flag" />
                                        <span class="country-name">ایالات متحده آمریکا</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .modal-content -->
            </div>
            <!-- .modla-dialog -->
        </div>
        <!-- .modal -->
    </body>
</html>