<!DOCTYPE html>
<html lang="fa" class="js">
    <head>
        <base href="../../../../" />
        <meta charset="utf-8" />
        <meta name="author" content="" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <!-- Fav Icon  -->
        <link rel="shortcut icon" href="./images/favicon.png" />
        <!-- Page Title  -->
        <title>نظرسنجی | استخدام | قالب مدیریتی دش‌لایت</title>
        <!-- StyleSheets  -->
        <link rel="stylesheet" href="./assets/css/dashlite.rtl.css" />
        <link id="skin-default" rel="stylesheet" href="./assets/css/theme.css" />
    </head>

    <body class="has-rtl nk-body ui-rounder npc-general pg-survey" dir="rtl">
        <div class="nk-app-root">
            <!-- main @s -->
            <div class="nk-main">
                <!-- wrap @s -->
                <div class="nk-wrap nk-wrap-nosidebar">
                    <!-- content @s -->
                    <div class="nk-content">
                        <div class="nk-split nk-split-page nk-split-lg">
                            <div class="nk-split-content bg-dark is-dark p-5 d-flex justify-between flex-column text-center">
                                <a href="html/index.html" class="logo-link nk-sidebar-logo">
                                    <img class="logo-light logo-img" src="./images/logo.png" srcset="./images/logo2x.png 2x" alt="لوگو" />
                                    <img class="logo-dark logo-img" src="./images/logo-dark.png" srcset="./images/logo-dark2x.png 2x" alt="لوگوی تاریک" />
                                </a>
                                <div class="text-block wide-xs mx-auto">
                                    <h3 class="text-white">ما استخدام می کنیم</h3>
                                    <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</p>
                                    <img class="nk-survey-gfx mt-5" src="./images/gfx/job-survey.svg" alt="" />
                                </div>
                                <p>© تمام حقوق محفوظ است. فارسی و راستچین سازی شده توسط فرشید ترنیان</p>
                            </div>
                            <!-- .nk-split-content -->
                            <div class="nk-split-content nk-split-stretch bg-white p-5 d-flex justify-center align-center flex-column">
                                <div class="wide-xs-fix">
                                    <form class="nk-stepper stepper-init is-alter" action="#" id="stepper-survey-v2">
                                        <div class="nk-stepper-content">
                                            <div class="nk-stepper-progress stepper-progress mb-4">
                                                <div class="stepper-progress-count mb-2"></div>
                                                <div class="progress progress-md">
                                                    <div class="progress-bar stepper-progress-bar"></div>
                                                </div>
                                            </div>
                                            <div class="nk-stepper-steps stepper-steps">
                                                <div class="nk-stepper-step">
                                                    <div class="nk-stepper-step-head mb-4">
                                                        <h5 class="title">دنبال چه چیزی می گردید؟</h5>
                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                                    </div>
                                                    <ul class="row g-3">
                                                        <li class="col-6">
                                                            <div class="custom-control custom-control-sm custom-radio pro-control custom-control-full">
                                                                <input type="radio" class="custom-control-input" name="sv2-preference" id="sv2-preference-fedev" value="sv2-preference-fedev" required />
                                                                <label class="custom-control-label" for="sv2-preference-fedev">
                                                                    <span class="d-flex flex-column text-center py-1 py-sm-2">
                                                                        <span class="icon-wrap xl">
                                                                            <img class="img" src="./images/icons/fornt-end-developer.svg" alt="" />
                                                                        </span>
                                                                        <span class="lead-text mb-1 mt-3">توسعه‌دهنده فرانت اند</span>
                                                                        <span class="sub-text">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ.</span>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="col-6">
                                                            <div class="custom-control custom-control-sm custom-radio pro-control custom-control-full">
                                                                <input type="radio" class="custom-control-input" name="sv2-preference" id="sv2-preference-uxdis" value="sv2-preference-uxdis" required />
                                                                <label class="custom-control-label" for="sv2-preference-uxdis">
                                                                    <span class="d-flex flex-column text-center py-1 py-sm-2">
                                                                        <span class="icon-wrap xl">
                                                                            <img class="img" src="./images/icons/ux-designer.svg" alt="" />
                                                                        </span>
                                                                        <span class="lead-text mb-1 mt-3">طراح تجربه کاربری</span>
                                                                        <span class="sub-text">مسئولیت های خود را در چرخه های زمانی کوتاه اولویت بندی و حل کنید.</span>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </li>
                                                        <li class="col-12">
                                                            <div class="custom-control custom-control-sm custom-radio pro-control custom-control-full">
                                                                <input type="radio" class="custom-control-input" name="sv2-preference" id="sv2-preference-freelance" value="sv2-preference-freelance" required />
                                                                <label class="custom-control-label" for="sv2-preference-freelance">
                                                                    <span class="d-flex flex-column text-center py-1 py-sm-2">
                                                                        <span class="icon-wrap xl">
                                                                            <img class="img" src="./images/icons/freelancing-service.svg" alt="" />
                                                                        </span>
                                                                        <span class="lead-text mb-1 mt-3">خدمات فریلنسری</span>
                                                                        <span class="sub-text">مسئولیت های خود را در چرخه های زمانی کوتاه اولویت بندی و حل کنید.</span>
                                                                    </span>
                                                                </label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="nk-stepper-step">
                                                    <div class="nk-stepper-step-head mb-4">
                                                        <h5 class="title">چند وقت کار می کنید؟</h5>
                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                                    </div>
                                                    <div class="row g-4">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <div class="form-control-wrap">
                                                                    <ul class="custom-control-group flex-column align-start">
                                                                        <li>
                                                                            <div class="custom-control custom-radio">
                                                                                <input type="radio" class="custom-control-input" name="sv2-time-avilability" id="sv2-time-avilability-full" required />
                                                                                <label class="custom-control-label" for="sv2-time-avilability-full">تمام وقت</label>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="custom-control custom-radio">
                                                                                <input type="radio" class="custom-control-input" name="sv2-time-avilability" id="sv2-time-avilability-part" required />
                                                                                <label class="custom-control-label" for="sv2-time-avilability-part">پاره وقت</label>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="custom-control custom-radio">
                                                                                <input type="radio" class="custom-control-input" name="sv2-time-avilability" id="sv2-time-avilability-freelance" required />
                                                                                <label class="custom-control-label" for="sv2-time-avilability-freelance">فریلنسر / قراردادی</label>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nk-stepper-step">
                                                    <div class="nk-stepper-step-head mb-4">
                                                        <h5 class="title">مزایای مورد انتظار شما چیست؟</h5>
                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                                    </div>
                                                    <div class="row g-4">
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="form-label" for="sv2-select-position">انتخاب موقعیت</label>
                                                                <div class="form-control-wrap">
                                                                    <select class="form-select js-select2" id="sv2-select-position" name="sv2-select-position" data-placeholder="موقعیت را انتخاب کنید" required>
                                                                        <option value=""></option>
                                                                        <option value="junior-developer">توسعه دهنده تازه کار</option>
                                                                        <option value="mid-level-developer">توسعه دهنده سطح متوسط</option>
                                                                        <option value="senior-level-developer">توسعه دهنده ارشد</option>
                                                                    </select>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="form-label" for="sv1-asking-salary">حقوق درخواستی (ماهانه)</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" class="form-control" id="sv1-asking-salary" name="sv1-asking-salary" placeholder="به عنوان مثال: 1,200,000 تومان" required />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="form-label">ترجیح محل کار؟</label>
                                                                <div class="form-control-wrap">
                                                                    <ul class="custom-control-group">
                                                                        <li>
                                                                            <div class="custom-control custom-radio">
                                                                                <input type="radio" class="custom-control-input" name="sv2-work-place" id="sv2-work-place-office" value="in-ofice" required />
                                                                                <label class="custom-control-label" for="sv2-work-place-office">در دفتر</label>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="custom-control custom-radio">
                                                                                <input type="radio" class="custom-control-input" name="sv2-work-place" id="sv2-work-place-remote" value="remote-home" required />
                                                                                <label class="custom-control-label" for="sv2-work-place-remote">از راه دور / دفتر منزل</label>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="nk-stepper-step">
                                                    <div class="nk-stepper-step-head mb-4">
                                                        <h5 class="title">بیایید درباره خودتان یاد بگیریم</h5>
                                                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ</p>
                                                    </div>
                                                    <div class="row g-3">
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label" for="sv1-first-name">نام</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" class="form-control" id="sv1-first-name" name="sv1-first-name" placeholder="نام" required />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-sm-6">
                                                            <div class="form-group">
                                                                <label class="form-label" for="sv1-last-name">نام خانوادگی</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" class="form-control" id="sv1-last-name" name="sv1-last-name" placeholder="نام خانوادگی" required />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="form-label" for="sv1-email-address">نشانی ایمیل</label>
                                                                <div class="form-control-wrap">
                                                                    <input type="text" class="form-control" id="sv1-email-address" name="sv1-email-address" placeholder="نشانی ایمیل" required />
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="form-label">جنسیت</label>
                                                                <div class="form-control-wrap">
                                                                    <ul class="custom-control-group">
                                                                        <li>
                                                                            <div class="custom-control custom-radio">
                                                                                <input type="radio" class="custom-control-input" name="sv2-gender" id="sv2-gender-male" value="gender-male" required />
                                                                                <label class="custom-control-label" for="sv2-gender-male">مرد</label>
                                                                            </div>
                                                                        </li>
                                                                        <li>
                                                                            <div class="custom-control custom-radio">
                                                                                <input type="radio" class="custom-control-input" name="sv2-gender" id="sv2-gender-female" value="gender-female" required />
                                                                                <label class="custom-control-label" for="sv2-gender-female">زن</label>
                                                                            </div>
                                                                        </li>
                                                                    </ul>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="col-12">
                                                            <div class="form-group">
                                                                <label class="form-label">آپلود مدارک</label>
                                                                <span class="form-note mb-2">(فایل های پذیرفته شده: pdf. doc/docx - حداکثر اندازه فایل: 190 کیلوبایت برای محدودیت دمو)</span>
                                                                <div class="form-control-wrap">
                                                                    <div class="form-file">
                                                                        <input type="file" multiple class="form-file-input" id="sv2-file-attachment" />
                                                                        <label class="form-file-label" for="sv2-file-attachment">فایل ها را انتخاب کنید....</label>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <ul class="nk-stepper-pagination pt-4 gx-4 gy-2 stepper-pagination">
                                                <li class="step-prev"><button class="btn btn-dim btn-primary">بازگشت</button></li>
                                                <li class="step-next"><button class="btn btn-primary">ادامه</button></li>
                                                <li class="step-submit"><button class="btn btn-primary">ارسال</button></li>
                                            </ul>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <!-- .nk-split-content -->
                        </div>
                        <!-- .nk-split -->
                    </div>
                    <!-- wrap @e -->
                </div>
                <!-- content @e -->
            </div>
            <!-- main @e -->
        </div>
        <!-- app-root @e -->
        <!-- JavaScript -->
        <script src="./assets/js/bundle.js"></script>
        <script src="./assets/js/scripts.js"></script>
        <!-- select region modal -->
        <div class="modal fade" tabindex="-1" role="dialog" id="region">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <a href="#" class="close" data-bs-dismiss="modal"><em class="icon ni ni-cross-sm"></em></a>
                    <div class="modal-body modal-body-md">
                        <h5 class="title mb-4">کشور خود را انتخاب کنید</h5>
                        <div class="nk-country-region">
                            <ul class="country-list text-center gy-2">
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/arg.png" alt="" class="country-flag" />
                                        <span class="country-name">آرژانتین</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/aus.png" alt="" class="country-flag" />
                                        <span class="country-name">استرالیا</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/bangladesh.png" alt="" class="country-flag" />
                                        <span class="country-name">بنگلادش</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/canada.png" alt="" class="country-flag" />
                                        <span class="country-name">کانادا <small>(انگلیسی)</small></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/s-africa.png" alt="" class="country-flag" />
                                        <span class="country-name">سانترافریکائین</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/china.png" alt="" class="country-flag" />
                                        <span class="country-name">چین</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/french.png" alt="" class="country-flag" />
                                        <span class="country-name">فرانسه</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/germany.png" alt="" class="country-flag" />
                                        <span class="country-name">آلمان</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/iran.png" alt="" class="country-flag" />
                                        <span class="country-name">ایران</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/italy.png" alt="" class="country-flag" />
                                        <span class="country-name">ایتالیا</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/mexico.png" alt="" class="country-flag" />
                                        <span class="country-name">مکزیک</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/philipine.png" alt="" class="country-flag" />
                                        <span class="country-name">فیلیپین</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/portugal.png" alt="" class="country-flag" />
                                        <span class="country-name">پرتقال</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/s-africa.png" alt="" class="country-flag" />
                                        <span class="country-name">آفریقای جنوبی</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/spanish.png" alt="" class="country-flag" />
                                        <span class="country-name">اسپانیا</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/switzerland.png" alt="" class="country-flag" />
                                        <span class="country-name">سوئیس</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/uk.png" alt="" class="country-flag" />
                                        <span class="country-name">انگلستان</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="country-item">
                                        <img src="./images/flags/english.png" alt="" class="country-flag" />
                                        <span class="country-name">ایالات متحده آمریکا</span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <!-- .modal-content -->
            </div>
            <!-- .modla-dialog -->
        </div>
        <!-- .modal -->
    </body>
</html>